<div class="zm-searchnav">
    <div class="zm-searchcars">
        <div class="zm-searchplace">
          <label for="">Where</label>
          <input type="text" placeholder="Address, airport,...">
        </div>
        <div class="zm-searchfrom">
          <label for="">From</label>
          <input type="text">
        </div>
        <div class="zm-searchuntill">
          <label for="">Until</label>
          <input type="text">
        </div>
        <div class="zm-searchbutton">
          <button [routerLink]="['/carsresult']">Search</button>
        </div>
      </div>
</div>
