<div class="zm-searchnav">
  <div class="zm-searchcars">
    <div class="zm-searchplace">
      <label for="">Where</label>
      <zm-searchmap></zm-searchmap>
    </div>
    <div class="zm-searchfrom">
      <label for="">From</label>
      <zm-datepicker></zm-datepicker>
    </div>
    <div class="zm-searchuntill">
      <label for="">Until</label>
      <zm-datepicker></zm-datepicker>
    </div>
    <div class="zm-searchbutton">
      <button [routerLink]="['/carsresult']">Search</button>
    </div>
  </div>
</div>
<div class="zm-fullpage">
  <div class="zm-carfilter">
    <div class="zm-filters">
      <h3>Filters</h3>
      <div class="filter">
        <select class="form-control">
          <option>Sort by</option>
          <option>Relevance</option>
          <option>Price: low-high</option>
          <option>Price: high-low</option>
        </select>
      </div>
      <div class="filter">
        <label>Total price less then €{{value}}</label>
        <mat-slider [(ngModel)]="value" min="15" max="125" step="5" value="55"></mat-slider>
      </div>
      <div class="filter">
        <select class="form-control">
          <option>Type car</option>
          <option>Hybrid</option>
          <option>Full electric</option>
        </select>
      </div>
      <div class="filter">
        <select class="form-control">
          <option>All years</option>
          <option>Less then 5 years old</option>
          <option>Less then 10yearls old</option>
        </select>
      </div>

    </div>
  </div>
  <div class="zm-allcars">
    <div *ngFor="let user of data.data" class="user">
      <div *ngFor="let car of user.cars" class="car">
        <div [routerLink]="['/carpage']" id="{{car.id}}">
          <div id="carImage">
            <img src="../../assets/tesla.jpg" alt="">
          </div>
          <div class="description">
            <!-- <p>{{car.owner}}</p> -->
            <ul>
              <li>
                <p id="brand">{{car.make}}</p>
              </li>
              <li>
                <p id="model">{{car.model}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
