.zm-searchnav{
    text-align: center;
    margin-top: 25px;
}
.zm-searchcars{
    width: 100%;
    height: 75px;
    margin: 0 auto;
    font-weight: bold;
    color: #2B16E0;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 1px #26262652;
    
}
.zm-searchcars div{
    display: inline-block;
    text-align: left;
}
.zm-searchcars input{
    display: block;
    width: 110px;
    height: 40px;
    padding: 0 5px 0 5px;
    background-color: white; 
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px;
}
.zm-searchplace, .zm-searchfrom, .zm-searchuntill{
    width: 120px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    
}
.zm-searchbutton{
    margin: 5px 5px 5px 5px;
   
    
}
.zm-searchbutton button{
    height: 40px;
    background-color: #262626;
    color: white;
    position: relative;
    padding: 0px 40px;
    border-radius: 10px;
    /*border-bottom: 5px solid #1F10A1;*/
    font-weight: bold;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.zm-searchbutton button:hover{
    background-color: #2a2a2a
}

.zm-fullpage{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.zm-carfilter{
    width: 20%;
    background-color: #262626;
    height: 400px;
    margin-left: 50px;
    margin-right: 68px;
    flex-direction: column;
    color: white;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-filters{
    width: 80%;
    margin: 0 auto;
}
.zm-allcars{
    width: 70%;
    background-color: #f0f0f0;
    height: 900px;
    box-shadow: 1px 1px 1px #26262652;

}
