<div class="zm-header">
  <div class="zm-logo">
    <img src="../../assets/ZoemLogo.png" alt="Zoem" [routerLink]="['']">
  </div>
  <div class="zm-menu">
    <ul class="zm-nav">
      <li>
        <a href="" [routerLink]="['/about']">About</a>
      </li>
      <li>
        <a (click)="open()">Sign Up</a>
      </li>
      <li>
        <a [routerLink]="['/account']">Account</a>
      </li>
    </ul>
  </div>
  <button class="zm-hamburger" id="zm-hamburger" (click)="openhamburger()">&#9776;</button>
  <button class="zm-cross" id="zm-cross" (click)="closenav()">&#735;</button>
</div>
<div class="zm-menu-mob" id="zm-menu-mob">
  <ul class="zm-nav-mob" id="zm-nav-mob">
    <li>
      <a href="" [routerLink]="['/about']" (click)="closenav()">About</a>
    </li>
    <li>
      <a (click)="open()" (click)="closenav()">Sign Up</a>
    </li>
    <li>
      <a [routerLink]="['/account']">Account</a>
    </li>
  </ul>

</div>
