<div class="zm-footer">
  <div class="zm-info">
    <h4>Zoem</h4>
    <p>Graaf Karel de Goedelaan 5</p>
    <p>8500 Kortrijk</p>
  </div>
  <div class="zm-footernav">
    <h4>Navigation</h4>
    <a href="/" [routerLink]="['/about']">About</a>
    <a href="/">Register</a>
  </div>
  <div class="zm-social">
    <h4>Follow us</h4>
    <img src="../../assets/facebook.png" alt="">
    <img src="../../assets/instagram.png" alt="">
    <img src="../../assets/twitter.png" alt="">
  </div>
</div>
<div class="zm-footercopy">
  <p>© Zoem 2017</p>
</div>
