h4{
    color: white;
    margin: 15px 0 15px 0;
}
.zm-footer{
    background-color: #2a2a2a;
    height: 200px;
    width: 100%;
    /*box-shadow: inset 0px 11px 10px -10px #262626;*/
    display: flex;
    justify-content: center;

}
.zm-info, .zm-footernav, .zm-social{
    height: 150px;
    margin: 25px 0 0 0;
    width: 33%;
    text-align: center;
}
.zm-info p{
 margin: 0 0 0 0;
}
.zm-footernav a, .zm-social a{
    display: block;
}
.zm-social img{
    width: 5%;
    margin: 0 5px 0 5px;
}
.zm-footercopy{
   width: 100%;
   height: 100px;
   background-color: #2a2a2a;
   margin: 0 0 0 0;
   display: block;
}
.zm-footercopy p{
    margin: 0 auto;
    text-align: center;
}
a, p{
    color: white;
}
@media only screen and (max-width: 840px) {
    .zm-footer{
        display: block;
        width: 100%;
        height: 350px;
    }
    .zm-footercopy p{
        padding: 15px 0 0 0;
    }
    .zm-info, .zm-footernav, .zm-social{
        height: 110px;
        margin: 0 auto;
        width: 100%;

    }
    .zm-social img{
        width: 10%;
        margin: 0 15px 0 15px;
    }
}