.zm-fullpage {
  width: 100%;
  margin: 25px auto 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

zm-dashboardnav {
  background-color: #262626;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
  color: white;
  box-shadow: 1px 1px 1px #26262652;
  margin-left: 50px;
  width: 20%;
}

.allCars {
  width: 71%;
  right: 25px;
  background-color: #f0f0f0;
  height: 945px;
  box-shadow: 1px 1px 1px #26262652;
}

.carsContainer {
  width: 512px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  top: 272.5px;
  
}

.carsInfo {
  width: 512px;
  text-align: center;
  height: 200px;
}

.addButton {
  margin-top: 25px;
  
}
.addButton a{
  background-color: #2B16E0;
  color: #FFF;
  position: relative;
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: bold;
}

.addButton a:active {
  background-color: rgb(31, 16, 163)
}

.addButton a:hover {
  background-color: rgb(31, 16, 163)
}
#notAuth{
  z-index: 10000;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(42,42,42); 
  background-color: rgba(42,42,42, 0.9);
  overflow-x: hidden; 
  text-align: center;
}
.overlay p {
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  margin-top: 20%;
}
.overlay button{
    border-radius: 10px;
}
.overlay button:hover{
  background-color: #16DA00;
  transition: .5s ease;
  opacity: 0.3;
}
#buttonl {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  
}
@media only screen and (max-width: 840px) {

  zm-dashboardnav{
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
  }
  .allCars{
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      display: block;
  }
  .carsContainer{
    width: 90%;
    top: 0px;
    height: 100%;
  }
  .carsInfo{
    width: 90%;
  }
  img{
    width: 60%;
    height: auto;
    text-align: center;
    margin: 0 0 0 19%;
  }
  .zm-fullpage{
    display: block;
    flex: none;
    width: 100%;
    height: 100%;
  }
}