
.zm-upimage {
    height: 500px;
    /*width: 100%;*/
    overflow: hidden;
    display: block;
    margin-top: 25px;
    position: relative;
    text-align: center;
    color:black;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-upimage img{
    /*position: relative;*/
    width: 100%;
}
.zm-imagetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zm-adstitle{
    /*height: 50px;*/
    width: 100%;
    text-align: center;
    margin:  0 0 0 0 ;
    color: white;
    z-index: 10;
}
.zm-adstext{
    color: white;
    margin: 0 0 15px 0;
    padding-top: 50px;
}
.zm-payedcars{
    width: 100%;
    background-color: #2a2a2a;
    height: 500px;

}
.zm-carads{
   /*width: 100%;*/
   /*margin-top: 25px;*/
   margin-right: 25px;
   margin-left: 25px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   cursor: pointer;
   /*padding-top: 50px;*/
   

}
.zm-carad{
    margin: 0 25px 0 25px;
    width: auto;
    height: auto;
    position: relative

}
.zm-carad img{
    width: 100%;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-caroverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #16DA00;
    opacity: 0.8;
    filter: alpha(opacity=80);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    
}
.zm-carad:hover .zm-caroverlay{
    width: 100%;
}
.zm-cardesc {
    display: inline-block;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.zm-containersplit{
    /*margin-top: 50px;*/
    margin: 100px 50px 158px 50px;
    height: 300px;
    
}
.zm-halfl{
    float:left;
    width: 50%;
    
}
.zm-halfr{
    float: right;
    width: 50%;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-halfr img{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.zm-containersplit:after{
    clear: both;
}
.zm-join{
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url("../../assets/mobiles2.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    /*vertical-align: center;*/

}
/* .zm-join img{
    position: relative;
    width: 100%;
    height: auto;
} */
.zm-jointext{
    margin-top:150px;
}
.zm-joinbutton{
   margin-top: 80px;
}
/*.zm-joinbutton:active{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
}*/
.zm-joinbutton a{
    background-color: #2B16E0;
    color: #FFF;
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
    /*border-bottom: 5px solid #1F10A1;*/
    font-weight: bold;
    
}
.zm-joinbutton a:active{
    /*border-bottom: none;*/
    background-color: rgb(31, 16, 163)
}
.zm-joinbutton a:hover{
    background-color: rgb(31, 16, 163);
}
.zm-searchcars{
    width: 900px;
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
    color: white;
    
}
.zm-searchcars div{
    display: inline-block;
    text-align: left;
}
.zm-searchcars input{
  width: 100px;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
}
.zm-searchplace, .zm-searchfrom, .zm-searchuntill{

}
.zm-searchbutton{
    margin: 5px 5px 5px 5px;
   
    
}
.zm-searchbutton button{
    height: 40px;
    background-color: #2B16E0;
    color: #FFF;
    position: relative;
    padding: 0px 40px;
    border-radius: 10px;
    /*border-bottom: 5px solid #1F10A1;*/
    font-weight: bold;
    text-align: center;
    border: 0;
}
.zm-searchbutton button:hover{
    background-color: rgb(31, 16, 163);
}
@media only screen and (max-width: 840px) {
    .zm-upimage{
    }
    .zm-upimage image{
        height: 100%;
    }
    .zm-imagetext{
        width: 100%;
        height: 100%;
       
    }
    .zm-headtitle{
        transform: none;
        
    }
    .zm-headdesc{
        transform: none;
    }

    .zm-searchcars{
    }

}

