
.zm-upimage {
    height: 90vh;
    /*width: 100%;*/
    overflow: hidden;
    display: block;
    margin-top: 25px;
    position: relative;
    text-align: center;
    color:black;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-upimage img{
    /*position: relative;*/
    width: 100%;
}
.scroll{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 20px;
    height: 40px;
    border: 3px solid #1f2322;
    border-radius: 14px;
    margin: 0 auto;
}
.scrollAnimation{
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: black;
    position: relative;
    -webkit-animation: myfirst 2s;
    -webkit-animation-direction: alternate-reverse;
    animation: myfirst 2s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: 10000;
    margin: 2px auto;
}
@-webkit-keyframes myfirst {
    0%   {background: black; left: 0px; top: 0px;}
    100%  {background: lightgrey; left: 0px; top: 20px;}
}

@keyframes myfirst {
    0%   {background: black; left: 0px; top: 0px;}
    100%  {background: lightgrey; left: 0px; top: 20px;}

}
.zm-headtitle{
    color: white;
    font-size: 4em;
}

.zm-headdesc{
    color: white;
    font-size: 1.4em;
}
.zm-searchplace{
    width: 150px;
}
zm-searchmap{
    width: 100%;
    margin: 0 0 0 0;
}
.zm-imagetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zm-adstitle{
    /*height: 50px;*/
    width: 100%;
    text-align: center;
    margin:  0 0 0 0 ;
    color: white;
    z-index: 10;
}
.zm-adstext{
    color: white;
    margin: 0 0 15px 0;
    padding-top: 50px;
}
.zm-payedcars{
    width: 100%;
    background-color: #2a2a2a;
    height: 50vh;

}
.zm-carads{
   /*width: 100%;*/
   /*margin-top: 25px;*/
   margin-right: 25px;
   margin-left: 25px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   cursor: pointer;
   /*padding-top: 50px;*/
   

}
.zm-carad{
    margin: 0 25px 0 25px;
    width: auto;
    height: auto;
    position: relative

}
.zm-carad img{
    width: 100%;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-caroverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #16DA00;
    opacity: 0.8;
    filter: alpha(opacity=80);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    
}
.zm-carad:hover .zm-caroverlay{
    width: 100%;
}
.zm-cardesc {
    display: inline-block;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.zm-containersplit{
    /*margin-top: 50px;*/
    margin: 100px 50px -17px 50px;
    height: 50vh;
    transition: transform .6s .9s;
}
.zm-halfl{
    float:left;
    width: 50%;
    
}
.zm-halfr{
    float: right;
    width: 50%;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-halfr img{
    width: 100%;
    background-position: center;
    background-size: cover;
    
}
.zm-containersplit:after{
    clear: both;
}
.zm-join{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    background: url("../../assets/mobiles2.jpg") no-repeat;
    background-size: 100%;
    text-align: center;

}
.zm-jointext{
    margin-top:150px;
}
.zm-joinbutton{
   margin-top: 80px;
}
.zm-joinbutton a{
    background-color: #16DA00;
    color: #FFF;
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
    /*border-bottom: 5px solid #1F10A1;*/
    font-weight: bold;
    
}
.zm-joinbutton a:active{
    background-color: #16DA00;
    transition: .5s ease;
    opacity: 0.3;
}
.zm-joinbutton a:hover{
    background-color: #16DA00;
    transition: .5s ease;
    opacity: 0.3;
}
.zm-searchcars{
    width: 900px;
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
    color: white;
    
}
.zm-searchcars div{
    display: inline-block;
    text-align: left;
}
.zm-searchcars input{
  width: 100px;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
}
.zm-searchbutton{
    margin: 5px 5px 5px 5px;
   
    
}
.zm-rentbtn{
    margin: 5px 5px 5px 5px;
}
.zm-rentbtn button{
    height: 50px;
    background-color: #16DA00;
    color: #FFF;
    position: relative;
    padding: 0px 40px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.zm-rentbtn button:hover{
    background-color: #16DA00;
    transition: .5s ease;
    opacity: 0.3;
}
@media only screen and (max-width: 840px) {
    .zm-upimage{
        height: 500px;
        width: auto;
    }
    .zm-upimage img{
        height: 100%;
        width: auto;
    }
    .zm-imagetext{
        width: 100%;
        height: 100%;   
    }
    .zm-headtxt{
        margin-top: 30%;
    }
    .zm-headtitle{
        transform: none;
       
    }
    .zm-headdesc{
        transform: none;
    }
    .zm-searchcars{
        width: 220px;
        display: block;
    }
    .zm-payedcars{
        height: 100%;
    }
    .zm-carads{
        display: block;
        flex: none;
    }
    .zm-halfl{
        float: none;
        width: 100%;
    }
    .zm-halfr{
        display: none;
    }
    .zm-join{
        width: 100%;
        min-height: 500px;
        overflow: unset;
        background-size: auto 100%;
        margin-bottom: -20px;
    }
    .zm-jointext{
        margin-top: 25px;
        padding-top: 70px;
    }
    

}

