<div class="zm-upimage">
  <img src="../../assets/office.jpg">
  <div class="zm-imagetext">
    <h1 class="zm-headtitle">Lorem ipsum</h1>
    <p class="zm-headdesc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
</div>
<div class="zm-about">
  <div class="zm-abouttext">
    <p>Non magna aliqua veniam voluptate officia aute est velit ut ad minim deserunt ipsum. Consectetur reprehenderit et eu
      dolor aliquip qui et. Qui ex laborum voluptate elit mollit nulla cupidatat sint esse laboris. Excepteur tempor Lorem
      in nostrud qui adipisicing officia sint commodo proident officia. Officia magna nulla et veniam id dolore ad amet labore
      anim. Ea incididunt cupidatat nisi occaecat nulla non adipisicing consequat ea. Do aliquip non incididunt laborum.
      Nisi laboris mollit ea consectetur eu nisi nisi enim minim ut id mollit proident excepteur. Pariatur nostrud magna
      exercitation ex sint ad duis tempor est incididunt irure consectetur non. Minim exercitation sunt minim ullamco commodo
      ipsum sunt ad deserunt sunt ullamco enim aute ex. Nostrud occaecat laboris sunt ea esse duis mollit commodo aliqua
      dolore pariatur do amet elit. Labore dolore ad amet anim sit do. </p>
  </div>

</div>
<div class="zm-team">
  <div class="zm-member">
    <img class="zm-memberpicture" src="../../assets/Joffrey.jpg">
    <div class="zm-membertext">
      <strong>Joffrey Mahieu</strong>
      <p>CEO</p>
    </div>
  </div>
  <div class="zm-member">
      <img class="zm-memberpicture" src="../../assets/Robin.png">
    <div class="zm-membertext">
      <strong>Robin Vande Velde</strong>
      <p>Admin & CFO</p>
    </div>
  </div>
  <div class="zm-member">
      <img class="zm-memberpicture" src="../../assets/Thomas.png">
    <div class="zm-membertext">
      <strong>Thomas Devriese</strong>
      <p>CTO</p>
    </div>
  </div>
  <div class="zm-member">
      <img class="zm-memberpicture" src="../../assets/Arne.png">
    <div class="zm-membertext">
      <strong>Arne Lecoutre</strong>
      <p>Sales & Marketing</p>
    </div>
  </div>
</div>
