.zm-upimage {
    height: 400px;
    /*width: 100%;*/
    overflow: hidden;
    display: block;
    margin-top: 25px;
    position: relative;
    text-align: center;
    color:black;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-upimage img{
    /*position: relative;*/
    width: 100%;
}
.zm-imagetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zm-about{
    margin: 50px 50px 0 50px;
}
.zm-team{
    margin: 0 auto;
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;

}
.zm-member{
    height: 350px;
    width: 300px;
    /*width: 40%;
    height: 45%;*/
    text-align: center;

}
.zm-memberpicture{
    background-color: blue;
    width: 100%;
    height: 80%;
}
.zm-membertext{
    width: 100%;
    height: 20%;
}