<div class="zm-upimage">
  <img src="../../assets/office.jpg">
  <div class="zm-imagetext">
    <h1 class="zm-headtitle">Team work makes the dream work</h1>
    <p class="zm-headdesc">We work on the future of transportation.</p>
  </div>
</div>
<div class="zm-about">
  <div class="zm-abouttext">
    <p>When we look around us, we see a lot of cars in our environment. The problem with
      all those cars is that they are standing still most of the time. This is the main problem
      we want to solve with <span style="color: #16DA00;font-weight: 700;">Zoem</span>, our car sharing platform. We focus on a green
      environment by choosing for hybrid and electric cars.</p>
  </div>

</div>
<div class="zm-team">
  <div class="zm-member">
    <img class="zm-memberpicture" id="joffrey" src="../../assets/Joffrey.jpg">
    <div class="zm-membertext">
      <strong>Joffrey Mahieu</strong>
      <p>CEO</p>
    </div>
  </div>
  <div class="zm-member">
      <img class="zm-memberpicture" src="../../assets/Robin.png">
    <div class="zm-membertext">
      <strong>Robin Vande Velde</strong>
      <p>Admin & CFO</p>
    </div>
  </div>
  <div class="zm-member">
      <img class="zm-memberpicture" src="../../assets/Thomas.png">
    <div class="zm-membertext">
      <strong>Thomas Devriese</strong>
      <p>CTO</p>
    </div>
  </div>
  <div class="zm-member">
      <img class="zm-memberpicture" src="../../assets/Arne.png">
    <div class="zm-membertext">
      <strong>Arne Lecoutre</strong>
      <p>Sales & Marketing</p>
    </div>
  </div>
</div>
