<div class="zm-fullpage">
  <zm-dashboardnav></zm-dashboardnav>
  <div class="allPayments">
    <div class="paymentsContainer">
      <img src="../../assets/credit-cards-payment.png" alt="">
      <div class="paymentsInfo">
        <h3>You don't have any payments.</h3>
    </div>
  </div>
</div>
<div id="notAuth" class="overlay" *ngIf="!authService.authenticated">
    <p>You have to login to get acces to this page.</p>
    <button id="buttonl" (click)="authService.login()">Log in</button>
  </div>