.zm-fullpage {
  width: 100%;
  margin: 25px auto 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.zm-sideInfo {
  width: 20%;
  background-color: #262626;
  height: 400px;
  margin-left: 50px;
  margin-right: 68px;
  flex-direction: column;
  color: white;
  box-shadow: 1px 1px 1px #26262652;
}

.zm-bookbutton {
  width: 100%;
  text-align: center;
  margin: 25px 0 0 0;
}

.zm-bookbutton button {
  height: 40px;
  width: 130px;
  background-color: #16DA00;
  color: #FFF;
  position: relative;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  border: 0;
}

.zm-bookbutton button:hover {
  background-color: rgb(22, 182, 1);
  cursor: pointer;
}

.zm-info {
  width: 80%;
  margin: 0 auto;
}

.allInfo {
  width: 71%;
  right: 25px;
  background-color: #f0f0f0;
  height: 800px;
  box-shadow: 1px 1px 1px #26262652;
}
.gallery{
  width: 100%;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  box-shadow: 1px 1px 1px #26262652;
}
.gallery > img{
  display: block;
  width: 100%;
  height: auto;
  margin-top: -10%;
}
#titleCar{
  margin-top: -65px;
  margin-left: 20px;
  color: white;
  font-size: 3em;
}
.detailsContainer{
  background-color: #2a2a2a;
  height: 300px;
  width: 100%;
}
.details{
  width: 50%;
  float: left;
  padding: 20px 0 0 20px;
}
.details span{
  color: white;
  font-weight: 700;
}
.details p{
  border-bottom: 1px white;
  color: white;
}
.map{
  float: right;
  width: 50%;
  color: white;
}
agm-map {
  height: 300px;
}