.zm-fullpage{
    width: 100%;
    margin: 25px auto 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.zm-sideInfo{
    width: 20%;
    background-color: #262626;
    height: 400px;
    margin-left: 50px;
    margin-right: 68px;
    flex-direction: column;
    color: white;
    box-shadow: 1px 1px 1px #26262652;
}
.zm-info{
    width: 80%;
    margin: 0 auto;
}
  .allInfo{
    width: 71%;
    right: 25px;
    background-color: #f0f0f0;
    height: 945px;
    box-shadow: 1px 1px 1px #26262652;
  }
  