<div class="zm-fullpage">
  <div class="zm-sideInfo">
    <div class="zm-info">
      <div class="rentInfo">
        <div class="zm-searchplace">
          <label for="">Where</label>
          <zm-searchmap></zm-searchmap>
        </div>
        <div class="zm-searchfrom">
          <label for="">From</label>
          <zm-datepicker></zm-datepicker>
        </div>
        <div class="zm-searchuntill">
          <label for="">Until</label>
          <zm-datepicker2></zm-datepicker2>
        </div>
      </div>
      <!-- IF AUTHENTICATED -->
      <div class="zm-bookbutton" *ngIf="authService.authenticated">
        <p class="rentPrice">
          <span>€ {{ userCars[0].cars[0].price }}</span> /day</p>
        <button (click)="showPopup()">Book</button>
        <p id="errorMessage">You have to fill in all fields.</p>
      </div>
      <!-- IF NOT -->
      <div class="disabledButton" *ngIf="!authService.authenticated">
        <button>Book</button>
        <p class="loginMessage">
          <span (click)="authService.login()">Login</span> to see price and book</p>
      </div>
    </div>
  </div>
  <div class="allInfo">
    <div class="infoContainer">
      <div *ngIf="userCars">
        <div class="gallery">
          <img src="../../assets/{{userCars[0].cars[0].images}}">
        </div>
        <h2 id="titleCar">{{ userCars[0].cars[0].make }} - {{ userCars[0].cars[0].model }}</h2>
        <div class="detailsContainer">
          <div class="details">
            <div class="detail">
              <p class="detailTitle">Type</p>
              <p class="detailValue">{{userCars[0].cars[0].type}}</p>
            </div>
            <div class="detail">
              <p class="detailTitle">Mileage</p>
              <p class="detailValue">{{userCars[0].cars[0].mileage}} km</p>
            </div>
            <div class="detail">
              <p class="detailTitle">Battery capacity</p>
              <p class="detailValue">{{userCars[0].cars[0].batterycapacity}} kWh</p>
            </div>
            <div class="detail">
              <p class="detailTitle">Seating</p>
              <p class="detailValue">{{userCars[0].cars[0].seating}}</p>
            </div>
            <div class="detail">
              <p class="detailTitle">Doors</p>
              <p class="detailValue">{{userCars[0].cars[0].doors}}</p>
            </div>
          </div>
          <div class="map">
            <zm-googlemap></zm-googlemap>
          </div>
        </div>
        <div class="carDesc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iste et obcaecati nam recusandae voluptate necessitatibus
            eaque delectus vel sed dignissimos odio quia, exercitationem, voluptas fugiat vitae veniam facilis quo. Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit facere saepe veritatis earum. Facilis est possimus
            nemo. Obcaecati porro, unde distinctio tempora nisi sequi quas, vero tempore nam accusantium adipisci.</p>
        </div>

      </div>

    </div>
  </div>
</div>
<div id="popup">
  <a href="javascript:void(0)" class="closebtn" (click)="closePopup()">&times;</a>
  <p id="popupText">We've received your booking. The owner will be in touch soon.</p>
</div>
