<div class="zm-fullpage">
  <div class="zm-sideInfo">
    <div class="zm-info">
      <div class="zm-bookbutton">
        <button>Book</button>
      </div>
    </div>
  </div>
  <div class="allInfo">
    <div class="infoContainer">
        <div *ngIf="userCars">
            <div class="gallery">
              <img src="../../assets/{{userCars[0].cars[0].images}}">
            </div>
            <h2 id="titleCar">{{ userCars[0].cars[0].make }} - {{ userCars[0].cars[0].model }}</h2>
            <div class="detailsContainer">
                <div class="details">
                    <p><span>Type </span>{{userCars[0].cars[0].type}}</p>
                    <p><span>Mileage </span>{{userCars[0].cars[0].mileage}} km</p>
                    <p><span>Battery capacity </span>{{userCars[0].cars[0].batterycapacity}} kWh</p>
                    <p><span>Seating </span>{{userCars[0].cars[0].seating}}</p>
                    <p><span>Doors </span>{{userCars[0].cars[0].doors}}</p>
                  </div>
                  <div class="map">
                    <agm-map [latitude]="lat" [longitude]="lng">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                  </div>
            </div>
            
          </div> 
      
    </div>
  </div>
</div>