<div class="modal" id="modal" >
  <span (click)="close()" class="closebtn" title="Close Modal">&times;</span>
  <form class="modal-content animate" action="">
    <div class="container">
      <h2>Sign up</h2>
      <input type="text" placeholder="Firstname" name="firstname" id="firstname" required >

      <input type="text" placeholder="Lastname" name="lastname" id="lastname" required>

      <input type="text" placeholder="Email" name="email" id="email" required>

  
      <input type="password" placeholder="Password" name="psw" id="psw" required>

      <input type="password" placeholder="Repeat Password" name="psw-repeat">
      <input type="checkbox" checked="checked"> Remember me
      <p>By creating an account you agree to our
        <a href="#">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" (click)="close()" id="cancelbtn" class="cancelbtn">Cancel</button>
        <button type="submit"  class="signupbtn" (click)="sign();">Sign Up</button>
      </div>
      <div class="Login">
        <p>Already have an account?
          <a (click)="gologin()">Log in</a>
        </p>
      </div>
    </div>
  </form>
</div>