input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: rgb(235, 232, 232);
}
.Login a{
    color: #2B16E0;
    font-weight: bold;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn,.signupbtn, .loginbtn {
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-content {
    background-color: white;
    box-shadow: 1px 1px 1px #26262652;
    margin: 5% auto 15% auto; 
    width: 500px;
    border-radius: 10px;
    
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn:hover,
.closebtn:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 840px) {
    .cancelbtn,.signupbtn, .loginbtn{
        width: 100%;
    }
    .modal-content{
        width: 90%;
    }

}
#id02{
    z-index: 10;
}
.full{
    height: 100%;
}