.zm-fullpage {
  width: 100%;
  margin: 25px auto 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

zm-dashboardnav {
  background-color: #262626;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
  color: white;
  box-shadow: 1px 1px 1px #26262652;
  margin-left: 50px;
  width: 20%;
}

h2 {
  margin-top: 25px;
}

.allCars {
  width: 71%;
  right: 25px;
  background-color: #f0f0f0;
  height: 1063px;
  box-shadow: 1px 1px 1px #26262652;
  height: 100%;
}

.carContainer {
  width: 50%;
  margin: 50px auto 0 auto;
  height: auto;
}

.vehicle div {
  width: 32.8%;
  display: inline-block;
}

.registration {
  width: 100%;
}

.registration div {
  width: 32.8%;
}

.features select {
  width: 32.8%;
  display: inline-block;
}
.location input{
width: 65.6%;
}
.imageButton{
  margin: 0;
  background-color:  #2B16E0;
}
.imageButton:hover{
  background-color: rgb(31, 16, 163);
}
#description {
  width: 100%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn,
.saveButton {
  float: left;
  width: 40%;
  border-radius: 10px;
}
#notAuth{
  z-index: 10000;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(42,42,42); 
  background-color: rgba(42,42,42, 0.9);
  overflow-x: hidden; 
  text-align: center;
}
.overlay p {
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  margin-top: 20%;
}
.overlay button{
    border-radius: 10px;
}
.overlay button:hover{
  background-color: #16DA00;
  transition: .5s ease;
  opacity: 0.3;
}
#buttonl {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  
}
@media only screen and (max-width: 840px) {

  zm-dashboardnav{
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
  }
  .allCars{
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      display: block;
      right: 0;
  }
  .carContainer form{
      width: 100%;
  }
  .carContainer{
    width: 90%;
    top: 0px;
    height: 100%;
  }
  .zm-fullpage{
    display: block;
    flex: none;
    width: 100%;
    height: 100%;
  }
}