<div class="zm-fullpage">
  <zm-dashboardnav></zm-dashboardnav>

  <div class="allDetails">
    
    <form class="detailsForm" action="">
        <div class="profilepic"></div>
      <div class="detailsContainer">
        <h2>Personal information</h2>
        <label>
          <b>Firstname</b>
        </label>
        <input class="form-control" type="text" placeholder="" name="firstname" id="firstname" required>
        <label>
          <b>Lastname</b>
        </label>
        <input class="form-control" type="text" placeholder="" name="lastname" id="lastname" required>
        <label>
          <b>Email</b>
        </label>
        <input class="form-control" type="text" placeholder="" name="email" id="email" required>
        <label>
          <b>Password</b>
        </label>
        <input class="form-control" type="password" placeholder="" name="psw" id="psw" required>
        <label>
          <b>Repeat Password</b>
        </label>
        <input class="form-control" type="password" placeholder="" name="psw-repeat">
        <label>
          <b>Birthday</b>
        </label>
        <select class="form-control" id="day">
          <option id="optionday"></option>
        </select>
        <select class="form-control" id="month">
          <option id="optionmonth"></option>
        </select>
        <select class="form-control" id="year">
          <option id="optionyear"></option>
        </select>
        <h2>Drivers license</h2>
        <label>
          <b>Driver's license number</b>
        </label>
        <input class="form-control" type="text" placeholder="e.g.:122056845XXX" name="licenseNumber" id="licenseNumber">
        <label>
          <b>Release date</b>
        </label>
        <select class="form-control" id="day">
          <option id="optionday"></option>
        </select>
        <select class="form-control" id="month">
          <option id="optionmonth"></option>
        </select>
        <select class="form-control" id="year">
          <option id="optionyear"></option>
        </select>
        <h2>Billing information</h2>
        <label>
          <b>Address</b>
        </label>
        <input class="form-control" type="text" placeholder="" name="address" id="address">
        <label>
          <b>City and zip code</b>
        </label>
        <input class="form-control" type="text" placeholder="" name="city" id="city">
        <input class="form-control" type="text" placeholder="" name="zip" id="zip">
        <div class="clearfix">
          <button type="button" id="cancelbtn" class="cancelbtn">Cancel</button>
          <button type="submit" class="saveButton">Save</button>
        </div>

      </div>
    </form>
  </div>
</div>
