body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    
}
h1{
    font-size: 34px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}   
    
.zm-page{
    height: 100%;
    width: 100%;
}
.zm-header{
    height: 50px;
    width: 100%;
    /*position: fixed;*/
    margin-top: 25px;
    left: 0;
    z-index: 200;

}
.zm-logo{
    display: block;
    position: absolute;
    left: 50px;
    cursor: pointer;

}
.zm-logo:hover{
    transition: .5s ease;
    opacity: 0.3;
}
.zm-logo img{
    height: 50px;
}
.zm-menu{
    right: 10px;
    position: absolute;
}
.zm-menu ul{
    background: transparent;
}
.zm-nav{
    padding-left: 0;
    list-style: none;
    float: left;
    margin-right: 30px;
}
.zm-menu ul li{
    margin-right: 20px;
    display: inline;

}
.zm-upimage {
    height: 400px;
    /*width: 100%;*/
    overflow: hidden;
    display: block;
    margin-top: 25px;
    position: relative;
    text-align: center;
    color:black;
}
.zm-upimage img{
    /*position: relative;*/
    width: 100%;
}
.zm-imagetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zm-adstitle{
    height: auto;
    width: 100%;
    text-align: center;
    margin: 100px 0 25px 0;
}
.zm-carads{
   /*width: 100%;*/
   margin-top: 25px;
   margin-right: 25px;
   margin-left: 25px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   cursor: pointer;

}
.zm-carad{
    margin: 0 25px 0 25px;
    width: auto;
    height: auto;
    position: relative

}
.zm-carad img{
    width: 100%;
}
.zm-caroverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #16DA00;
    opacity: 0.8;
    filter: alpha(opacity=80);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    
}
.zm-carad:hover .zm-caroverlay{
    width: 100%;
}
.zm-cardesc {
    display: inline-block;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.zm-containersplit{
    /*margin-top: 50px;*/
    margin: 100px 50px 100px 50px;
    height: 400px;
}
.zm-halfl{
    float:left;
    width: 50%;
    
}
.zm-halfr{
    float: right;
    width: 50%;
}
.zm-halfr img{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.zm-containersplit:after{
    clear: both;
}
.zm-join{
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url("../images/mobiles2.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    /*vertical-align: center;*/

}
/* .zm-join img{
    position: relative;
    width: 100%;
    height: auto;
} */
.zm-jointext{
    margin-top:150px;
}
.zm-joinbutton{
   margin-top: 80px;
}
.zm-joinbutton:active{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
}
.zm-joinbutton a{
    background-color: #2B16E0;
    color: #FFF;
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
    border-bottom: 5px solid #1F10A1;
    text-shadow: 0px -2px #1F10A1;
    font-weight: bold;
    
}
.zm-joinbutton a:active{
    border-bottom: none;
}
.zm-footer{
    background-color: #16DA00;
    height: 300px;
    margin: 100px 0 0 0;
    box-shadow: inset 0px 11px 8px -10px rgb(20, 163, 0);
}
.zm-footernav{
    padding: 25px 50px 25px 50px
}

.zm-about{
    margin: 50px 50px 0 50px;
}
.zm-team{
    margin: 0 auto;
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;

}
.zm-member{
    height: 350px;
    width: 300px;
    /*width: 40%;
    height: 45%;*/
    text-align: center;

}
.zm-memberpicture{
    background-color: blue;
    width: 100%;
    height: 80%;
}
.zm-membertext{
    width: 100%;
    height: 20%;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn,.signupbtn, .loginbtn {
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /*height: 100%;*/ /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content {
    /*background-color: #fefefe;*/
    background-image: url("../images/connect.png");
    background-repeat: repeat; 
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    /*width: 80%; /* Could be more or less, depending on screen size */
    width: 500px;
    
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
#id02{
    z-index: 10;
}
.full{
    height: 100%;
}